.main{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    background-color: #e9e5e5;
    font-family: 'Lato', sans-serif;
    color: white;
}
.Container{
    margin: auto;
    width: 80vw;
}
footer{
    position: relative;
    bottom: 0;
}
